jupyter-book
matplotlib
numpy
scipy
sphinx-intl
sphinx-togglebutton
sphinx-copybutton
myst-nb
sphinx-thebe
sphinx-comments
sphinx-external-toc
sphinx-design
sphinx-book-theme
sphinxcontrib-bibtex
sphinx-jupyterbook-latex
